aside {
  background: rgb(22, 13, 13);
  width: 200px;
  margin-right: 35px;
  border-radius: 40px;
  padding: 20px;
  position: relative;
  transition: 0.2s;
}
.icon {
  background: rgb(198, 198, 61);
  width: 30px;
  height: 30px;
  font-size: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
}
.items {
  color: white;
  i {
    font-size: 15px;
    margin-right: 10px;
  }
  ul {
    list-style: none;
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
  }
  li {
    min-width: 170px;
    padding: 15px;
    border-radius: 13px;
    transition: 0.2s;
  }

  li:hover {
    background: black;
  }
}
#close {
  position: absolute;
  top: 23px;
  right: 23px;
  background: rgb(22, 13, 13);
  color: red;
  font-size: 25px;
  border: none;
}
.hidden {
  display: none;
}
#open {
  position: absolute;
  top: 40px;
  left: 20px;
  background: black;
  color: red;
  font-size: 25px;
  border: none;
}
